header {
  min-width: 100%;
  width: 100%;
  min-height: 7vh;
  height: auto;
}

nav {
  min-width: 100%;
  width: 100%;
  min-height: 7vh;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header > nav > div {
  height: inherit;
  width: inherit;
}

header > nav > div > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: auto;
  height: inherit;
  width: inherit;
  background-color: var(--input-form-color);
}

header > nav > div > ul > li {
  min-width: auto;
  width: auto;
  height: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

header > nav > div > ul > li:hover {
  border-top: 0.5rem solid var(--blue);
  transition: 0.2s ease-in-out;
}

header > nav > div > ul > li > a {
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: var(--nav-white);
  font-weight: bold;
  font-size: 1.8rem;
  display: grid;
  align-items: center;
  transition: 0.2s ease-in-out;
}

header > nav > div > ul > li > a:hover {
  color: var(--blue);
  transition: 0.2s ease-in-out;
}
