<header>
  <nav>
    <div>
      <ul>
        <li><a routerLink="create">Novi Predmet</a></li>
        <li><a routerLink="">Svi Predmeti</a></li>
        <li><a routerLink="sort-by-date">Razvrstavanje po datumu</a></li>
        <li>
          <a routerLink="sort-by-date-range">Razvrstavanje po rasponu datuma</a>
        </li>
        <li>
          <a routerLink="sort-by-preuzima-osoba">Razvrstavanje po osobi</a>
        </li>
        <li>
          <a routerLink="sort-by-naziv-predmeta"
            >Razvrstavanje po nazivu predmeta</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
